body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0%;
}
.top-section{
    
    position: relative;
    height: 100vh;
    background-color: black;   
}
.top-section::before{
    content: "";
    top: 0;
    bottom: 0%;
    right: 0;
    left: 0;
    position: absolute;
    background-image: url(images/be_a_denist.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    opacity: 0.3;
}
nav{
    display: flex;
    width: 85%;
    margin-left: 8%;
    margin-right: 8%;
    justify-content: space-between;
}                   
.logo{
    font-family: Magneto;
    color: white;
    font-size: 33px;
}
.header{
    display: flex;
   
}
.header li{
    list-style: none;
    margin-right: 50px;
    margin-top: 20px;
    position: relative;

}
.header li::after {
    position: absolute;
}
.header li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.appointment{
    padding: 10px 40px;
    background-color: rgb(3, 83, 83);
    border-radius: 25px;
    transition: 0.2;
}
.appointment:hover{
    background-color:rgb(12, 163, 163) ;   
}

.intro{
    color: white;
    margin-left: 55%;
    margin-top: 17%;
    display: inline-block;
}
.intro h2{
    font-size: 35px;
}
.intro h2 span{
    font-weight: 800;
    font-size: 50px;
}
.intro a{
    text-decoration: none;
    color: white;
    padding: 10px 40px;
    background-color: rgb(3, 83, 83);
    border-radius: 25px;
    position: relative;
    transition: 0.3;
}
.intro a:hover{
    background-color:rgb(12, 163, 163) ;
    position: absolute; 
}
.services{
    display: flex;
    margin-top: 10%;
    justify-content: center;
}
.block-element{
    display: flex;
    flex-wrap: wrap;
    width: 50%
}
.work-details{
    width: 40%;
    margin-left: 70px;
}
.work-details h1{
    text-align: center;
    line-height: 2.2;
}
.work-details span{
    font-weight: 600;
    line-height: 4.3;
}
.work-details p{
    line-height: 1.6;
}
.work-details a{
    background-color:rgb(3, 83, 83) ;
    padding: 10px 40px;
    color: white;
    text-decoration: none;
    border-radius: 40px;
    transition: 0.5;
    margin-top: 10px;
}
.work-details a:hover{
    background-color:rgb(12, 163, 163) ;
}
.center{
    width: 200px;
    height: 170px;
    border: 1px solid lightgray;
    margin-left: 20px;
    margin-bottom: 25px;
    padding-top: 25px;
    box-sizing: border-box;
    box-shadow: 0 0 10px gray;
    border-radius: 20px;
    transition-timing-function:ease-in-out,ease-in ;
    transition-duration: 0.2s, 0.2s;
}
.center:hover{
    border:1px solid rgb(3, 83, 83);
    
}
.center img{
    width: 50px;
}
.icons{
    text-align: center;
}
.center P{
    text-align: center;
}
.new-patiant{
    background-color: rgb(3, 83, 83);
    text-align: center;
    padding: 20px 60px;
    border-radius: 100px;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 7%;
    margin-bottom: 8%;
    transition: 0.5s;
}
.new-patiant:hover{
    background-color: rgb(19, 121, 121);
}
.new-patiant h1{
    font-weight: 700;
    color: white;
}
.new-patiant span{
    color: white;
}
.new-patiant p{
    color: #977d7d;
}
.team{
    text-align: center;
    margin-bottom: 10%;
}
.team p{
    margin-bottom: 3%;
}
.team a{
    color: white;
    background-color: rgb(3, 83, 83);
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 50px;
    transition: 0.3;
}
.team a:hover{
    background-color: rgb(19, 121, 121);
}
.team-member{
    display: flex;
    margin-bottom: 10%;
}
.dctr{
    width: 30%;
    text-align: center;
    background-color: #dddada;
    border: 1px solid rgb(3, 83, 83);
    margin-left: 2%;
    border-radius: 40px;
    box-sizing: border-box;
    box-shadow: 0 0 20px gainsboro;
    transition: 0.3;
}
.dctr:hover{
    background-color: white;
}
.dctr img{
    width: 220px;
}
#monu{
    width: 265px;
}